/* @import url("CTA button.css") */

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

main{
    padding-top:60px;
}

h1, h2, h3 {
    text-align: center;
}


/* //////////////////////////////////////////////////


**************** LANDING PAGE (HOME) **************

///////////////////////////////////////////////////*/

header {
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;

}

header .header-brand {
    font-family: lato;
    font-size: 20px;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
    /* display: block; */
    text-align: center;
    padding:20px 0px 0px 20px; 
}

header nav {
    margin-left:auto;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    padding-right: 20px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-family: lato;
    font-size: 16px;
    color: #111;
    margin-right: 10px;
    text-transform: uppercase;
}

header a {
    margin-right:auto;
}

main .hero-banner {
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

main .hero-banner h1 {
    font-family: lato;
    font-size: 60px;
    font-weight:900;
    color: #fff;
    text-shadow: 2px 2px 8px #111;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 40px;
    text-transform: uppercase;
}

main .hero-banner h2 {
    width: 80%;
    color: #fff;
    margin: 0 auto;
    line-height: 1.4;
    padding-top: 20px;
    font-style: italic;
}

main .hero-banner p {
    border: solid 2px white;
    width: 30%;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
    margin-top: 40px;
    font-style: italic;
}

.projects div{
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background: #f2f2f2;
}

.projects h1{
   text-transform: uppercase;
}
.projects p{
    font-family: lato;
    width:80%;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 20px;
}
.projects div h3{
    font-family: lato;
    font-size: 24px;
    font-weight: 200;
    color: #111;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 40px;
    text-transform: uppercase;
}

/* //////////////////////////////////////////////////


****************** PORTFOLIO ************************

///////////////////////////////////////////////////*/



.portfolio-links {
    overflow: hidden;
    margin-bottom: 20px;
}

.wrapper div {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.portfolio-links h1 {
   text-transform: uppercase;
}

.portfolio-links p {
    font-family: lato;
    width:80%;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 20px;
}

.portfolio-links .portfolio-link {
    width: 240px;
    height: 240px;
    margin: 20px 10px 0px;
    background-color: #e3e3e3;
}

.portfolio-links .portfolio-link p {
    padding-top: 25%;
    font-family: lato;
    width:80%;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 20px;
    text-align: center;
}

.portfolio div{
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background: #f2f2f2;
}

/* //////////////////////////////////////////////////


****************** ABOUT ************************

///////////////////////////////////////////////////*/

.about {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* //////////////////////////////////////////////////


******************  CONTACT ************************

///////////////////////////////////////////////////*/

.contact {
    width: 80%;
    margin: 0 auto;
}

 .contact h1 {
    text-transform: uppercase;
    font-size: 44px;
 }

 .contact p {
    text-align: center;
 }

 .form-container {
    text-align: center;
 }

 #form {
     width: 80%;
 }

.contact h1 {
    width:80%;
    margin:0px auto 15px;
    padding-top: 30px;
    padding: 0px auto;
    text-align: center;
    font-size: 2em;
  }
  
  .contact p {
    width:80%;
    margin:30px auto;
    line-height: 1.5em;
  }
  
  .form-container{
    margin:50px auto;
  }
  
  .page-heading {
    padding-top: 50px;
    margin-left:30px;
    font-size: 2em;
  }
  
  .contact-content{
    margin: 10px auto;
    width:80%;
    letter-spacing:0.05em;
  }
  
  .contact-heading{
    text-align: center;
    font-size: 40px;
  
  }
  
  .label{
    display: block;
    margin-bottom:100px;
  }
  
  .span{
    display:block;
  }
  
  .contact-info label{
    width:48%;
    margin:2%;
  }
  
  input, textarea{
    width:calc(80vw - 20px);
    height: 30px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    margin: 0 auto;
    text-align: center;
  }
  
  textarea{
    background:lightgrey;
    height:50vw;
  }
  
  .button-holder{
    text-align: center;
    background: Transparent;
    outline: none;
    font-size: 30px;
  }


/* //////////////////////////////////////////////////


****************** FOOTER ***************************

///////////////////////////////////////////////////*/

footer{
    width: calc(100%-80px);
    padding: 20px 40px;
    background: #f2f2f2;
    margin-top: 20px;
    text-align: center;
}
footer img {
    width: 20px;
    margin: 0 10px;
}


@media only screen and (min-width: 1000px) {

    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    header .header-brand {
        display: block;
        text-align: center;
    }

    main .hero-banner {
        width: 100%;
        height: 1100px;
    }

    main .hero-banner h1 {
        font-size: 150px;
        font-weight:900;
        color: #fff;
        text-align: center;
        text-shadow: 2px 2px 8px #111;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    main .hero-banner h2{
        font-size: 40px;
        display:block;
        width:650px;
        margin: 0 auto;
    }

    .projects div{
        margin: 16px 16px 0;
        height: 200px;
        background: #f2f2f2;
        float: left;
    }
 
    .projects-square {
        width: calc(25% - 48px) !important;
    }

    .projects-rectangle {
        width: calc(50% - 60px) !important;
    }

    .clearfix {
        overflow: auto;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Portfolio */

    .portfolio-links {
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .portfolio-links h1 {
       text-transform: uppercase;
    }
    
    .portfolio-links p {
        font-family: lato;
        width:80%;
        margin: 0 auto;
        line-height: 1.8;
        font-size: 20px;
    }
    
    .portfolio-links .portfolio-link {
        float: left;
        width: 440px;
        height: 240px;
        margin: 20px 16px 0px;
        background-color: #e3e3e3;
    }
    
    .portfolio-links .portfolio-link p {
        padding-top: 25%;
        font-family: lato;
        width:80%;
        margin: 0 auto;
        line-height: 1.8;
        font-size: 20px;
        text-align: center;
    }
    /* About */

    .about {
        width: 90%;
        margin: 0 auto;
        text-align: left !important;
    }

    .column-1 {
        width: 50%;
        float:left;
        /* text-align:left; */
    }

    .column-2 {
        width: 50%;
        float:right;
    }

    

}